<% if utm_data.any? %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>UTM <%= utm_type.capitalize %></th>
        <th class="text-right">Views</th>
        <th class="text-right">%</th>
      </tr>
    </thead>
    <tbody>
      <% utm_data.take(10).each do |data| %>
        <tr>
          <td>
            <%= link_to site_path(params[:site],
                              from: params[:from],
                              to: params[:to],
                              "utm_#{utm_type}".to_sym => data.value),
                        class: "text-dark" do %>
              <%= data.value %>
            <% end %>
          </td>
          <td class="text-right">
            <%= number_with_delimiter(data.total) %>
          </td>
          <td class="text-right text-muted">
            <%= data.percentage_display %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-muted small">No UTM <%= utm_type %> data available for this period.</p>
<% end %>
