<!-- UTM Navigation -->
<section class="card">
  <div class="utm-navigation">
    <%= link_to "Overview", utm_path(params[:site], from: params[:from], to: params[:to]), class: "nav-link" %>
    <%= link_to "Sources", utm_sources_path(params[:site], from: params[:from], to: params[:to]), class: "nav-link" %>
    <%= link_to "Mediums", utm_mediums_path(params[:site], from: params[:from], to: params[:to]), class: "nav-link" %>
    <%= link_to "Campaigns", utm_campaigns_path(params[:site], from: params[:from], to: params[:to]), class: "nav-link" %>
    <%= link_to "Terms", utm_terms_path(params[:site], from: params[:from], to: params[:to]), class: "nav-link" %>
    <span class="nav-link active">Contents</span>
  </div>
</section>

<section class="card">
  <%= render "/active_analytics/sites/histogram_header", histogram: @histogram, previous_histogram: @previous_histogram %>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<section class="card">
  <h3>UTM Contents</h3>
  <p class="text-muted">Content variations and A/B test identifiers in your campaigns</p>
  <%= render "utm_table", utm_data: @utm_contents, utm_type: 'content' %>
</section>
