<section class="card">
  <%= render "/active_analytics/sites/histogram_header", histogram: @histogram, previous_histogram: @previous_histogram %>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<section class="card">
  <h3>UTM <%= @utm_type.capitalize %>: <%= @utm_value %></h3>
  <p class="text-muted">Pages visited from this UTM <%= @utm_type %></p>
  <%= render "table", pages: @pages %>
</section>
