<section class="card">
  <%= render "/active_analytics/sites/histogram_header", histogram: @histogram, previous_histogram: @previous_histogram %>
  <%= render "/active_analytics/sites/histogram", histogram: @histogram %>
</section>

<ul class="grid-auto">
  <li class="card">
    <h3>Sources <%= link_to "view all", referrers_path(from: params[:from], to: params[:to]) %></h3>
    <%= render "/active_analytics/referrers/table", referrers: @referrers %>
  </li>

  <li class="card">
    <h3>Pages <%= link_to "view all", pages_path(from: params[:from], to: params[:to]) %></h3>
    <%= render "/active_analytics/pages/table", pages: @pages %>
  </li>

  <li class="card">
    <h3>Browsers <%= link_to "view all", browsers_path(from: params[:from], to: params[:to]) %></h3>
    <%= render "/active_analytics/browsers/table", browsers: @browsers %>
  </li>

  <li class="card">
    <h3>UTM Analytics <%= link_to "view all", utm_path(from: params[:from], to: params[:to]) %></h3>
    <% if @utm_sources&.any? %>
      <%= render "/active_analytics/utm/utm_table", utm_data: @utm_sources.first(5), utm_type: 'source' %>
    <% else %>
      <p class="text-muted small">No UTM tracking data available for this period.</p>
    <% end %>
  </li>
</ul>

Now I need to update the sites controller to provide UTM data for the main dashboard. Let me check the sites controller first:

<function_calls>
<invoke name="read_file">
<parameter name="target_file">app/controllers/active_analytics/sites_controller.rb

```
</invoke>
</function_calls>
